.nixieContainer {
  user-select: none;
  position: relative;
  font-family: 'Josefin Sans';
  font-size: 7em;
  text-align: center;
  letter-spacing: 0.1em;
  margin-top: 30px;
}

.nixieContainerTube {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 100px;
  height: 160px;
  margin: 6px;
  border-top: 2px solid rgba(240, 200, 200, 0.12);
  border-left: 2px solid rgba(240, 200, 200, 0.1);
  border-right: 2px solid rgba(240, 200, 200, 0.1);
  border-bottom: 12px solid rgba(30, 30, 30, 1);
  border-radius: 60px 60px 8px 8px;
  background-color: rgba(255, 110, 11, 0.02);
  box-shadow: 
    inset -6px 4px 30px 2px rgba(255, 110, 11, 0.1),
    0 -2px 32px 0 rgba(255, 169, 22, 0.06)
    ;
  animation-duration: 4.5s;
  animation-name: tube-glow;
}

.nixieContainerTube:before {
  content: "";
  position: absolute;
  top: 18px;
  right: 14px;
  width: 46px;
  height: 24px;
  border-top: 10px solid rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  transform: rotate(43deg);
}

.nixieContainerTube:after  {
  content: "";
  position: absolute;
  top: 80px;
  right: 10px;
  width: 10px;
  height: 150px;
  border-right: 2px solid rgba(255, 255, 255, 0.03);
  border-radius: 6px;
}

.nixieContainerTubeDigit {
  position: absolute;
  width: 112px;
  line-height: 1.65em;
  left: 0;
  text-shadow: 
    rgba(50, 50, 50, 0.05) 0 0 1px,
    ;
  color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: rgba(40, 40, 40, 0.15);
}

.nixieContainerTubeDigitActive {
  color: #ffdb9e;
  opacity: 1;
  text-shadow: 
    #ff4d00 0 0 112px,
    #ffa916 0 0 48px,
    #ef9700 0 0 24px,          
    #ef9700 0 0 16px,
    #ef9700 0 0 4px,
    ;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #ff6e00;
}